html, .page {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "myFont";
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

body {
    background-image: url('images/Backgroung.jpg');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #959595;
    font: normal 12px/2.0em Sans-Serif;
}

h1,h2,h3,h4,h5,h6 {
    color: black;
}

.page {
    background: #fff;
}

.header,
.footer,
.top-nav {
    margin: 0;
    padding: 0;
}

/* Logo */
.logo {
    padding: 0;
    width: auto;
    float: left;
    font-size: 1vw;
}

.logo h1 a,
h1 a:hover {
    color: darkgreen;
    text-decoration: none;
}

.logo h1 span {
    color: #BCCE98;
}

/* Header */
.header {
    background: #fff;
}

.header-inner {
    margin: 0 auto;
    padding: 0;
    width: 970px;
}

/* Feature */
.feature {
    background: rgb(12, 170, 12);
    padding: 3px;
}

.feature-inner {
    margin: auto;
    width: 970px;
}

.feature-inner h1 {
    color: #DAE9BC;
    font-size: 32px;
}

/* Menu */
.top-nav {
    margin: 0 auto;
    padding: 0px 0 0;
    height: 37px;
    float: right;
    font-size: 1vw;
}

.top-nav ul {
    list-style: none;
    padding: 0;
    height: 37px;
    float: left;
}

.top-nav ul li {
    margin: 0;
    padding: 0 0 0 8px;
    float: left;
}

.top-nav ul li a {
    display: block;
    margin: 0;
    padding: 8px 20px;
    color: green;
    text-decoration: none;
}

.top-nav ul li.active a,
.top-nav ul li a:hover {
    color: #BCCE98;
}

/* Footerblurb */
.footerblurb {
    background: #DAE9BC;
    color: green;
}

.footerblurb-inner {
    margin: 0 auto;
    width: 922px;
    padding: 24px;
}

.footerblurb .column {
    margin: 0;
    text-align: justify;
    float: left;
    width: 250px;
    padding: 0 24px;
}

/* Footer */
.footer {
    background: #fff;
}

.footer-inner {
    margin: auto;
    text-align: center;
    padding: 12px;
    width: 922px;
}

.footer a {
    color: green;
    text-decoration: none;
}

/* Clear both sides to assist with div alignment  */
* {
    box-sizing: border-box;
}

.clr {
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0px;
    line-height: 0px;
}

.column {
    float: left;
    width: 33.3%;
    padding: 30px;
}

.column h2 {
    font-family: myFont;
    font-size: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center button {
    text-align: center;
}

.columnProduct {
    float: left;
    width: 33.3%;
    padding: 30px;
}

.columnProduct h2 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
}

.columnProduct h1 {
    font-family: myFont;
}

.edition-button {
    background-color: #4CAF50;
    border-radius: 50px;
    border-style: initial;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.edition-button-simple {
    border-radius: 50px;
    border-style: initial;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.boxed {
    border-style: hidden;
    margin: 20px 50px;
}

.boxed ul {
    font-size: 4mm;
    list-style-type: square;
}

.columnCatalogue {
    float: left;
    width: 25%;
    padding: 30px;
}

.columnCatalogue h2 {
    font-size: medium;
}

.columnCatalogue:hover img {
    border: 2px solid orangered;
}

.column-contact {
    float: left;
    width: 50%;
    padding: 30px;
}
